
<!-- Main App. -->
<div id="mainApp" class="container"></div>

<script id="appTemplate" type="text/template"> 
  <div id="view"></div>
</script>

<!-- List of current Planes. -->
<script id="planeListViewTemplate" type="text/template">
  <h3>Planes</h3>

  <ul id="planes" class="list-group"></ul>
</script>


<!-- View of individual plane. -->
<script id="planeViewTemplate" type="text/template">
    <li class="list-group-item">{{ name }}</li>
</script>

<!-- List of current flights. -->
<script id="flightListViewTemplate" type="text/template">
  <h3>Flights</h3>
    <ul id="flights" class="list-group"></ul>
</script>

<!-- View of individual flight. -->
<script id="flightViewTemplate" type="text/template">
  <div>
    <li class="list-group-iem">From: {{ origin }}</li>
    <li class="list-group-iem">To: {{ destination }}</li>
    <li class="list-group-iem">Date Leaving: {{ date }}</li>
  </div>
</script>

<!-- Flight Summary Template. -->
<script id="seatsViewTemplate" type="text/template">
    <h2>Individual Flight Summary: {{ flights }}</h2>
      <ul>
        <li>Origin: {{ origin }}</li>
        <li>Destination: {{ destination }}</li>
        <li>Date: {{ date }}</li>
        <li>Seats: {{ seats }}</li>
        <ul class="seats"></ul>
      </ul>
</script>