
<!-- Main App. -->
<div id="mainApp" class="container"></div>

<script id="appTemplate" type="text/template"> 




  <form class="form-inline">
    <div class="form-group">
      <%= text_field_tag 'origin', nil, :class => 'form-control', :autofocus => true, :placeholder => 'from' %>

      <%= text_field_tag 'destination', nil, :class => 'form-control', :autofocus => true, :placeholder => 'to' %>

    </div>

      <button class="btn btn-default" id="search_for_flights_button">
        <i class="fa fa-search"></i>
      </button>

</form>





    <div id="view"></div>
</script>


<!-- List of current Planes. -->
<script id="planeListViewTemplate" type="text/template">
  <h3>Planes</h3>

  <ul id="planes" class="list-group"></ul>
</script>


<!-- View of individual plane. -->
<script id="planeViewTemplate" type="text/template">
  {{ name }}
</script>

<!-- List of current flights. -->
<script id="flightListViewTemplate" type="text/template">
  <h3>Flights</h3>
    <ul id="flights" class="list-group"></ul>
</script>




<!-- View of individual flight. -->
<script id="flightViewTemplate" type="text/template">
  <div>
    <li class="list-group-iem"><strong>From: </strong> {{ origin }}</li>
    <li class="list-group-iem"><strong>To: </strong> {{ destination }}</li>
    <li class="list-group-iem"><strong>Date Leaving: </strong>{{ date }}</li>
    <div id="seats"></div>
  </div>
</script>

<!-- Flight Summary Template. -->
<script id="seatsViewTemplate" type="text/template">
      <div class="gridOfSeats">
        <div class="seatOuter">
          <div class="seatInner"></div>
        </div>
      </div>
</script>