<h1>Burning MOFO Airlinez.</h1>
<p>This is where templates will go</p>


<div id="mainApp"></div>

<script id="appTemplate" type="text/template">
  
</script>


<script id="planeList" type="text/template">
    

</script>


<script id="flightsListTemplate" type="text/template">
    <h2>List of Flights:</h2>
      <ul></ul>
</script>


<script id="flightsTemplate" type="text/template">
  
    <h2>Individual Flight Info: {{ flights }}</h2>
      <ul>
        <li>Origin: {{ origin }}</li>
        <li>Destination: {{ destination }}</li>
        <li>Date: {{ date }}</li>
        <li>Plane: {{ plane }}</li>
      </ul>

</script>




<!-- BOOKING FLIGHTS FORM: -->