
<!-- Main App. -->
<div id="mainApp" class="container"></div>

<script id="appTemplate" type="text/template"> 
  <%= text_field_tag 'search', nil, :autofocus => true, :placeholder => 'search for your final destination' %>
  <%= button_tag 'search flights', :id => 'search_for_flights_button' %>
  <div id="view"></div>
</script>

<!-- List of current Planes. -->
<script id="planeListViewTemplate" type="text/template">
  <h3>Planes</h3>

  <ul id="planes" class="list-group"></ul>
</script>


<!-- View of individual plane. -->
<script id="planeViewTemplate" type="text/template">
  {{ name }}
</script>

<!-- List of current flights. -->
<script id="flightListViewTemplate" type="text/template">
  <h3>Flights</h3>
    <ul id="flights" class="list-group"></ul>
</script>

<!-- View of individual flight. -->
<script id="flightViewTemplate" type="text/template">
  <div>
    <li class="list-group-iem">From: {{ origin }}</li>
    <li class="list-group-iem">To: {{ destination }}</li>
    <li class="list-group-iem">Date Leaving: {{ date }}</li>
    <div id="seats"></div>
  </div>
</script>

<!-- Flight Summary Template. -->
<script id="seatsViewTemplate" type="text/template">
      <div class="gridOfSeats">
        <div class="seatOuter">
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
          <div class="seatInner"></div>
        </div>
      </div>
</script>